@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
    background-attachment: fixed;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    margin: 0;
}

.abqm-logo-container {
    height: 200px;
}

.abqm-logo {
    height: 100px;
    margin-left: 120px;
    margin-top: 20px;
    width: 167px;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 150px;
}

.side-buttons-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    max-width: 300px;
}

.side-button {
    background-color: #c9d3d5;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #395871;
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.congresso-logo-container {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: -300px;
    margin-top: -20px;
}

.congresso-logo {
    height: 231px;
    width: 500;
}

.menu-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    margin-left: 200px;
    margin-right: 200px;
}

.menu-button {
    background-color: #c9d3d5;
    border: 1px solid #395871;
    border-radius: 5px;
    color: #395871;
    font-family: 'Bebas Neue';
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
}

.news-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

h2 {
    color: #395871;
    font-family: 'Bebas Neue';
    font-size: 22px;
    letter-spacing: 10px;
}

.live-text {
    color: #395871;
    font-family: 'Bebas Neue';
    font-size: 86px;
    letter-spacing: 1px;
    margin-top: -25px;
}

.video {
    border: 8px solid #abb8c1;
    height: 300px;
    margin-top: -90px;
    width: 600px;
}

.last-news-text {
    color: #395871;
    font-family: 'Bebas Neue';
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

.last-news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.last-news {
    border: 8px solid #abb8c1;
    height: 300px;
    margin-bottom: 120px;
    margin-left: 40px;
    margin-right: 40px;
    width: 500px;
}

footer {
    background-color: #c9d3d5;
    height: 200px;
}